<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.album.title"></h1>
    <h2 data-ng-bind="vm.album.artist.name"></h2>
  </div>
  <div class="pull-right"
       data-ng-show="vm.album.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="albums.edit({ albumId: vm.album._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.album.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.album.user"
            data-ng-bind="vm.album.user.displayName"></span>
      <span data-ng-if="!vm.album.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.album.content"></p>
</section>
